{% extends 'base.html' %}

<!-- <nav class="navbar navbar-expand-lg navbar-light framed" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('monitor.base') }}">Monitor</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarResponsive"
                data-toggle="collapse" id="navbar-menu-button"
                type="button">
            Menu
            <i class="fas fa-bars"></i>
        </button>

    </div>
</nav> -->

{% block header %}
  <h1>Welcome to BL@Scale</h1>
{% endblock %}

{% block content %}
<h4>Unusual or extreme images from each observation</h4>
<div class="btn-group">
<a href="{{ url_for('monitor.base') }}">
  <button type="button" class="btn btn-default btn-lg">Monitor</button>
</a>
<a href="{{ url_for('index') }}">
  <button type="button" class="btn btn-default btn-lg">Log out</button>
</a>
</div>

<div class="container-fluid">
  {%for key in sample_urls%}
      <div class="row">
	        <div class="col-sm-12">{{ key }} Unusual Filtered Samples</div>
  	  </div>
		  <div class="row">
    		  <div class="col-sm-12"><img src='{{ plot_bytes[key] }}'></div>
  		</div>
  		<div class="row">
          {% for sample in sample_urls[key] %}
              <div class="col-sm-3"><img class='img-responsive' src='{{ sample }}' height="40" width="200" style="margin:15px"></div>
          {%endfor%}
      </div>
	{%endfor%}
</div>
{% endblock %}
