{% extends 'base.html' %}

{% block header %}
  <h1>Welcome to BL@Scale</h1>
{% endblock %}

{% block content %}
<h4>Unusual or extreme images from each observation</h4>
<!-- <a href="/logout">Log out</a> -->
<div class="container-fluid">
  {%for key in sample_urls%}
      <div class="row">
	        <div class="col-sm-12">{{ key }} Unusual Filtered Samples</div>
  	  </div>
		  <div class="row">
    		  <div class="col-sm-12"><img src='{{ plot_bytes[key] }}'></div>
  		</div>
  		<div class="row">
          {% for sample in sample_urls[key] %}
              <div class="col-sm-3"><img class='img-responsive' src='{{ sample }}' height="40" width="200" style="margin:15px"></div>
          {%endfor%}
      </div>
	{%endfor%}
</div>
{% endblock %}
