{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}BL-Scale Images{% endblock %}</h1>
{% endblock %}

{% block content %}
<h4>Images from each observation</h4>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">GBT_58010_50176_HIP61317_fine/ Unusual Filtered Samples</div>
  </div>
  <div class="row">
    <div class="col-sm-12"><img src='{{plot_bytes_1}}'></div>
  </div>
  <div class="row">
    {%for sample_1 in samples_1%}
      <div class="col-sm-3"><img class='img-responsive' src='{{ sample_1 }}' height="40" width="200" style="margin:15px"></div>
    {%endfor%}
  </div>
  <div class="row">
    <div class="col-sm-12">GBT_58014_69579_HIP77629_fine/ Unusual Filtered Samples</div>
  </div>
  <div class="row">
    <div class="col-sm-12"><img src='{{plot_bytes_2}}'></div>
  </div>
  <div class="row">
    {%for sample_2 in samples_2%}
      <div class="col-sm-3"><img class="img-responsive" src='{{ sample_2 }}' height="40" width="200" style="margin:15px"></div>
    {%endfor%}
  </div>
  <div class="row">
    <div class="col-sm-12">GBT_58110_60123_HIP91926_fine/ Unusual Filtered Samples</div>
  </div>
  <div class="row">
    <div class="col-sm-12"><img src='{{plot_bytes_3}}'></div>
  </div>
  <div class="row">
    {%for sample_3 in samples_3%}
      <div class="col-sm-3"><img class="img-responsive" src='{{ sample_3 }}' height="40" width="200" style="margin:15px"></div>
    {%endfor%}
  </div>
  <div class="row">
    <div class="col-sm-12">GBT_58202_60970_B0329+54_fine/ Unusual Filtered Samples</div>
  </div>
  <div class="row">
    <div class="col-sm-12"><img src='{{plot_bytes_4}}'></div>
  </div>
  <div class="row">
    {%for sample_4 in samples_4%}
      <div class="col-sm-3"><img class="img-responsive" src='{{ sample_4 }}' height="40" width="200" style="margin:15px"></div>
    {%endfor%}
  </div>
  <div class="row">
    <div class="col-sm-12">GBT_58210_37805_HIP103730_fine/ Unusual Filtered Samples</div>
  </div>
  <div class="row">
    <div class="col-sm-12"><img src='{{plot_bytes_5}}'></div>
  </div>
  <div class="row">
    {%for sample_5 in samples_5%}
      <div class="col-sm-3"><img class="img-responsive" src='{{ sample_5 }}' height="40" width="200" style="margin:15px"></div>
    {%endfor%}
  </div>
  <div class="row">
    <div class="col-sm-12">GBT_58210_39862_HIP105504_fine/ Unusual Filtered Samples</div>
  </div>
  <div class="row">
    <div class="col-sm-12"><img src='{{plot_bytes_6}}'></div>
  </div>
  <div class="row">
    {%for sample_6 in samples_6%}
      <div class="col-sm-3"><img class="img-responsive" src='{{ sample_6 }}' height="40" width="200" style="margin:15px"></div>
    {%endfor%}
  </div>
  <div class="row">
    <div class="col-sm-12">GBT_58210_40853_HIP106147_fine/ Unusual Filtered Samples</div>
  </div>
  <div class="row">
    <div class="col-sm-12"><img src='{{plot_bytes_7}}'></div>
  </div>
  <div class="row">
    {%for sample_7 in samples_7%}
      <div class="col-sm-3"><img class="img-responsive" src='{{ sample_7 }}' height="40" width="200" style="margin:15px"></div>
    {%endfor%}
  </div>
  <div class="row">
    <div class="col-sm-12">GBT_58210_41185_HIP105761_fine/ Unusual Filtered Samples</div>
  </div>
  <div class="row">
    <div class="col-sm-12"><img src='{{plot_bytes_8}}'></div>
  </div>
  <div class="row">
    {%for sample_8 in samples_8%}
      <div class="col-sm-3"><img class="img-responsive" src='{{ sample_8 }}' height="40" width="200" style="margin:15px"></div>
    {%endfor%}
  </div>
  <div class="row">
    <div class="col-sm-12">GBT_58307_26947_J1935+1616_fine/ Unusual Filtered Samples</div>
  </div>
  <div class="row">
    <div class="col-sm-12"><img src='{{plot_bytes_9}}'></div>
  </div>
  <div class="row">
    {%for sample_9 in samples_9%}
      <div class="col-sm-3"><img class="img-responsive" src='{{ sample_9 }}' height="40" width="200" style="margin:15px"></div>
    {%endfor%}
  </div>
  <div class="row">
    <div class="col-sm-12"> GBT_58452_79191_HIP115687_fine/ Unusual Filtered Samples</div>
  </div>
  <div class="row">
    <div class="col-sm-12"><img src='{{plot_bytes_10}}'></div>
  </div>
  <div class="row">
    {%for sample_10 in samples_10%}
      <div class="col-sm-3"><img class="img-responsive" src='{{ sample_10 }}' height="40" width="200" style="margin:15px"></div>
    {%endfor%}
  </div>

</div>

{% endblock %}
