<!DOCTYPE html>
<html lang="en" class="no-js">


	<!-- Start Head -->
	<head>
	
	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="text" content="">
		<meta name="author" content="">
		
		<!-- description -->
        <meta name="description" content="">
        <!-- keywords -->
        <meta name="keywords" content="">
		
		
		<!--Start Title -->
		<title>Breakthrough Listen @ Scale</title>
		<!--End Title -->
		
		
		
		<!-- Start Favicon -->
		<link rel="shortcut icon" href="../static/images/BL_Scale_icon.ico">
		<link rel="icon" href="../static/images/BL_Scale_icon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="../static/images/BL_Scale_icon.ico">
        <link rel="apple-touch-icon" sizes="72x72" href="../static/images/BL_Scale_icon.ico">
        <link rel="apple-touch-icon" sizes="114x114" href="../static/images/BL_Scale_icon.ico">
		<!-- END Favicon -->
		
		
		

		<!-- Uikit Framework -->
		<link rel="stylesheet" href="../static/css/uikit.min.css" />
		
		<!-- Bootstrap Framework -->
		<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
		
		<!-- Font Awesome -->
		<link rel="stylesheet" href="../static/css/font-awesome.min.css">
		
		<!-- Main Stylesheet -->
		<link rel="stylesheet" href="../static/css/style.css" />
		
		<!-- Responsive -->
		<link rel="stylesheet" href="../static/css/responsive.css">
		
	
	
	</head>
	<!-- End Head -->
	

	
	<!-- Main Body -->
	<body>
		
		<a href="javascript:" id="return-to-top"><span data-uk-icon="icon: arrow-up; ratio: 1" class="text-gray-extra-dark"></span></a>

	
		
		
		<!-- Header Transparent -->
		<div class="uk-position-top z-index-999">
			
			<!-- Header Options -->
			<div class="navbar-dark" data-uk-sticky="animation: uk-animation-slide-top-small; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent; top: 200">

				<!-- Header Container -->
				<nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar="boundary-align: true; align: center;">
				
					<!-- Navigation Left Side -->
					<div class="uk-navbar-left padding-left-four-percent">
					
						<!-- Logo Image -->
						<a class="uk-navbar-item uk-logo" href="../index" data-uk-scroll><img src="../static/images/BL-scale-logo.png" alt="" /></a>
					
					</div>
					<!-- End Navigation Left Side -->
					
					
					
					<!-- Navigation Right Side -->
					<div class="uk-navbar-right uk-dark padding-right-four-percent">

						<!-- Links -->
						<ul class="uk-navbar-nav text-weight-600">
							
							<!-- Off-Canvas Navigation Toggle -->
							<li>
							
								<div class="uk-navbar-left uk-hidden@l">
								
									<a class="uk-navbar-toggle" data-uk-navbar-toggle-icon data-uk-toggle="target: #offcanvas-nav"><img class="hamburger" src="../static/images/menu.png"></a>
									
								</div>
							
							</li>
							<!-- End Off-Canvas Navigation Toggle -->
							
							
							<!-- Link -->
							<li>
							
								<a class="text-gray-extra-light text-extra-small uk-visible@l" href="./#about">About</a>
								

							</li>
							<!-- End Link -->
							
							
							<!-- Link -->
							<li>
							
								<a class="text-gray-extra-light text-extra-small uk-visible@l" href="./#status">Status Quo</a>
								

							</li>
							<!-- End Link -->
							
							<!-- Link -->
							<li>
							
								<a class="text-gray-extra-light text-extra-small uk-visible@l" href="./#problem">Problem</a>

							</li>
							<!-- End Link -->
							
							
							<!-- Link -->
							<li>
							
								<a class="text-gray-extra-light text-extra-small uk-visible@l" href="./#proposal">Solution</a>

							</li>
							<!-- End Link -->
							
							
							
							
							<!-- Link -->
							<li>
							
								<a class="text-gray-extra-light text-extra-small uk-visible@l" href="./#research-project">Research</a>
								
								
							</li>
	
	
							<!-- Link -->
							<li>
							
								<a class="text-gray-extra-light text-extra-small uk-visible@l" href="./#compute">BL-Reservoir</a>
								

							</li>

							<li>
							
								<a class="text-gray-extra-light text-extra-small uk-visible@l" href="./result">Results</a>
								

							</li>
							<!-- End Link -->
							
							
							
							<!-- Link -->
							<li>
							
								<!-- <div style="padding-top: 20%; padding-left: 20%;" > -->
									<a  class=" btn-orange  "  href="./login" >Login</a>	
								<!-- </div>		 -->

							</li>
							<!-- End Link -->
							<li><a style="padding-left: 0;" href="https://github.com/UCBerkeleySETI"><img style="width: 25%;"src="../static/images/BL_Scale_icon.png"  ></a></li>
							
							<!-- Link -->
							
							

				
				
							<li><a style="padding-left: 0;" href="https://github.com/UCBerkeleySETI"> </a></li>
							

							
						</ul>
						<!-- End Links -->
						
					</div>
					<!-- End Navigation Right Side -->


					
				</nav>
				<!-- End Header Container -->
				
			</div>
			<!-- End Header Options -->
		
		</div>
		<!-- End Header Transparent -->
		<div id="offcanvas-nav" data-uk-offcanvas="mode: reveal; overlay: true; esc-close: true;">
		
			<!-- Off-Canvas Bar -->
			<div class="uk-offcanvas-bar menu-white bg-black">

				<!-- Off-Canvas Links-->
				<ul class="uk-nav-sub text-left" data-uk-nav>
				
					
					<li><a class="uk-navbar-item uk-logo" href="index.html" data-uk-scroll><img src="../static/images/BL-scale-logo.png" alt="" /></a></li>

					<!-- Link -->
					<li class="margin-bottom-10px">
					
						<a href="index.html" class="bottom-border border-1px border-color-white-extra-light"><span class="text-small text-white text-uppercase text-weight-700 padding-bottom-20px">
							Home
							<span class="margin-left-10px" ></span></span></a>

					</li>
					<!-- End Link -->

					<!-- Link -->
					<li class="margin-bottom-10px">
						<a href="../#about" class="bottom-border border-1px border-color-gray-extra-light"><span class="text-small text-white text-uppercase text-weight-700 padding-bottom-20px">
							About
							<span class="margin-left-10px" ></span></span></a>
						
						
					</li>
					<!-- End Link -->
					
					
					
					
					
					<!-- Link -->
					<li class=" margin-bottom-10px">
					
						<a href="../#status" class="bottom-border border-1px border-color-gray-extra-light"><span class="text-small text-white text-uppercase text-weight-700 padding-bottom-20px">
							Status Quo 
							<span class="margin-left-10px" ></span></span></a>
						
					</li>
					<!-- End Link -->
					
					
					
					
					
					<!-- Link -->
					<li class="margin-bottom-10px">
					
						<a href="../#problem" class="bottom-border border-1px border-color-gray-extra-light"><span class="text-small text-white text-uppercase text-weight-700 padding-bottom-20px">
							Problem
							<span class="margin-left-10px" ></span></span></a>
						
					</li>
					<!-- End Link -->
					
					
					
					<!-- Link -->
					<li class="margin-bottom-10px">
					
						<a href="../#proposal" class="bottom-border border-1px border-color-gray-extra-light"><span class="text-small text-white text-uppercase text-weight-700 padding-bottom-20px">
							Solution
							<span class="margin-left-10px" ></span></span></a>
						
					</li>
					<!-- End Link -->
					
					
					
					
					<!-- Link -->
					<li class="margin-bottom-10px">
					
						<a href="../#research-project" class="bottom-border border-1px border-color-gray-extra-light"><span class="text-small text-white text-uppercase text-weight-700 padding-bottom-20px">
							Research
							<span class="margin-left-10px" ></span></span></a>
						
					</li>
					<!-- End Link -->
					
					
					
					
					<!-- Link -->
					<li class="margin-bottom-10px">
					
						<a href="../#compute" class="bottom-border border-1px border-color-gray-extra-light"><span class="text-small text-white text-uppercase text-weight-700 padding-bottom-20px">
							BL-Reservoir
							<span class="margin-left-10px" ></span></span></a>
					</li>
					<!-- End Link -->
					<!-- Link -->
					<li class="margin-bottom-10px">
				
						<a href="../result/none" class="bottom-border border-1px border-color-gray-extra-light"><span class="text-small text-white text-uppercase text-weight-700 padding-bottom-20px">
							Results
							<span class="margin-left-10px" ></span></span></a>
					</li>
					<!-- End Link -->

					<!-- Link -->
					<li class="margin-bottom-10px">
					
						<a href="../login" class="bottom-border border-1px border-color-gray-extra-light"><span class="text-small btn-orange text-uppercase text-weight-700 padding-bottom-20px">
							Login
							<span class="margin-left-10px" ></span></span></a>
					</li>
					<!-- End Link -->

				</ul>
				<!-- End Off-Canvas Links -->
				
				
				
				<!-- Navigation Footer -->
				<div class="nav-footer margin-top-100px">
					<!-- Copyright Information -->
					<p class="no-margin-bottom margin-top-20px text-small text-gray-dark text-weight-400">Copyright © 2020 of <a href="http://seti.berkeley.edu/" target="_blank">UC Berkeley SETI Research Center.</a></p>
					<p class="no-margin-bottom text-small text-gray-dark text-weight-400 text-black">All rights reserved.</p>
					<!-- End Copyright Information -->
				</div>
				<!-- End Navigation Footer -->

			</div>
			<!-- End Off-Canvas Bar -->
			
		</div>
		<!-- End Off-Canvas Navigation -->
		

		
		
		
		<div  class="backimg-wave">
			<div class="row">
				<div class="col-md-12">
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					
				</div>
			</div>
			<!-- Home -->
			<div >
				<!-- Image -->
				<div class="row">
					<div class="col-md-12 center" align="center">					
						<div  class="text-center" >
							<div style="text-align: center;">
								<h3 class="splash_heading text-weight-400 Raleway text-white" style="float: center" >Scaling SETI To The &nbsp;</h3> 
								<h3 class="splash_cloud text-weight-800 Raleway linear-wipe text-white-50" style="float: center" >Cloud.</h3>
							</div>
						</div>
						<img class="splash_globe "src="../static/images/world.gif" style ="width:auto; height:800px; object-fit: cover;" alt=""/>
					</div>
				</div>
			</div>
			<!-- End Home -->
			<div class="row">
				<div class="col-md-12">
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>

					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					
				</div>
			</div>

			<div class="backimg-stars" >					
				<div class="row"style="padding-left: 10%;
				padding-right: 10%;" >
						<div class="col-md-4">
							</div>
					<div class="col-md-4" >
							<!-- <h6 class="text-weight-500 Raleway text-white">"Two possibilities exist: Either we are alone in the Universe or we are not</h6>
							<h6 class="text-weight-700 Raleway text-white">Both are equally terrifying." </h6>
							<h6 class="text-weight-100 Raleway text-white" style="text-align: right;">&nbsp;</h6>					 -->
					</div>
					<div class="col-md-4">
					</div>
				</div>
			</div>
	</div>


		<div  data-uk-scrollspy="cls:uk-animation-fade" id="problem">					
			<div class="row" >
					<div class="col-md-3">
						</div>
				<div class="col-md-6" style=" padding-top:2.5%; padding-bottom:2%;text-align: center;">
					
						<!-- <h2 class="text-weight-700 Raleway text-white">The Journey Begins</h2> -->
						<!-- <img src="../static/images/deepsetilogo-white.png"> -->

				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div>


		<div class="backimg" id="about">					
				<div class="row" style="padding-top: 5%;" >
					<div class="col-md-6" style="padding-left: 10%; padding-right: 10%;">
						
							<h2 class="text-weight-700 Raleway text-white">The Search <img style="width: 25%;"src="../static/images/BSRClogo_isolated.png"></h2>
							<p class="text-white text-weight-400 no-margin-bottom" style="line-height:25px">
								Humans have long sought to answer the age-old question, <i>"Are we alone?".</i> Researchers estimate that <b>hundreds of billions</b> of exoplanets exist within our galaxy, including tens of billions which are similar to our Earth. Despite our quiet existence, <i>the likelihood that we are not alone is greater than many would think.</i>
							</p>
							<p>&nbsp;</p>
							<p class="text-white text-weight-400 no-margin-bottom" style="line-height:25px">
								Today, astronomers around the globe are collaborating in the search for extraterrestrial intelligence (SETI). Armed with some of the most powerful radio telescopes, computing resources, and the smartest algorithms we have, BL@Scale (Built by the UC Berkeley SETI Research Center) is taking our endeavors to the <b>cloud.</b>
							</p>
							<p>&nbsp;</p>
							<!-- <p class="text-white text-weight-400 no-margin-bottom" style="line-height:25px">
								Although we might've grown up thinking we're alone in the universe, we're working hard so that one day our children might grow up hearing a different story.

							</p> -->
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
						
						
						
						
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</div>
		
					
		<div class="backimg-entropy" data-uk-scrollspy="cls:uk-animation-fade" id="status" style="padding-bottom:20%;">
			<div class="row"   style="padding-top: 10%;">
				<div class="col-md-5" style="
				padding-right: 10%;">
				</div>
				
				<div class="col-md-6" style="
				padding-left: 10%;padding-right: 10%;">
					<h2 class="text-weight-700 Raleway text-white">The Status Quo</h2>
					<p class="text-white text-weight-400 no-margin-bottom" style="text-emphasis: right; line-height:25px">
						SETI programs search for technosignatures - indicators of technology as a proxy for intelligence.					</p>	
					<p>&nbsp;</p>
					<h6 class="text-weight-500 Raleway text-white">Technosignatures</h6>
					<p  class="text-white text-weight-400 no-margin-bottom">
						One class of technosignature is signals generated by radio transmitters. Existing searches have largely focused on narrow-band signals (with widths less than 100 Hz or so), since these do not occur naturally in astronomy. However, many human-produced sources of radio emission are also narrow-band. We can reject a large fraction of this interference by searching for signals that are drifting in frequency, which indicates that they are less likely to be stationary with respect to the receiver, and hence more likely to be originating from a distant transmitter that is in motion. Classical algorithms, such as TurboSETI, exploit this characteristic to search for these types of signals by correcting radio spectrograms for a range of possible Doppler shifts, and picking signals that appear above a certain signal to noise ratio.					</p>
					<p>&nbsp;</p>
					<p class="text-white text-weight-400 no-margin-bottom">
						A second key characteristic of technosignatures is that they are isolated to certain positions on the sky. A signal that is present in the data regardless of where the telescope is pointed is unlikely to be from ETI. We compare observations of our target stars with observations of nearby positions to search for signals that track the motion of the target star across the sky.					</p>
					<p class="text-white text-weight-400 no-margin-bottom">
						Thirdly, technosignatures might appear qualitatively somewhat similar to other signals in the data, or alternatively they might appear highly anomalous. The development of generalized anomaly detection algorithms is a key goal of modern SETI.
					</p>
					<p>&nbsp;</p>
					<h6 class="text-weight-500 Raleway text-white">On-Premise Data Centers</h6>
					<p class="text-white text-weight-400 no-margin-bottom">
						Most large scale searches to date have been performed on high performance computing clusters on campus or at the observatories. Traditionally we've scaled our computing resources by physically expanding the datacenter's capabilities, but as the data begin to fill up petabytes of disk space, there is a pressing need to also scale up the search capacity.
					</p>
				
					<div style="padding-top: 10%;">
							<a class="btn btn-small btn-white border-radius-50 sm-display-table xs-no-margin-bottom"  href="http://seti.berkeley.edu/" >Learn More About Seti</a>	
					</div>						
				</div>
			</div>
		</div>

		<div  data-uk-scrollspy="cls:uk-animation-fade" id="problem">					
				<div class="row" >
						<div class="col-md-3">
							</div>
					<div class="col-md-6" style="padding-bottom: 10%; padding-left: 10%; padding-right: 10%;">
						
							<h2 class="text-weight-700 Raleway text-white">The Problem</h2>
							<p class="text-white text-weight-400 no-margin-bottom" style="line-height:25px">
								1) We need a variety of algorithms to search for a wider range of possible SETI signals, and 2) we need to develop infrastructure to scale these searches to deal with petascale data volumes.
							<p>&nbsp;</p>
							<p class="text-white text-weight-400 no-margin-bottom" style="line-height:25px">
								We are developing a flexible platform to implement a variety of techniques and computational processes to filter and clean the data, and to search for signals. A key motivation is to allow easy deployment of promising new algorithms, including those that may not even exist at present.
							</p>
							
							<p>&nbsp;</p>
							<h6 class="text-weight-700 Raleway text-white">Scaling
							</h6>
							<p class="text-white text-weight-400 no-margin-bottom" style="line-height:25px">
								We need a system that can scale resources dynamically with an increase in demand, such as when an analysis of our entire multi-petabyte dataset is underway. 

							</p>
							
							
						
					</div>
					<div class="col-md-3">
					</div>
				</div>
			</div>



		<div data-uk-scrollspy="cls:uk-animation-fade" id="proposal">					
				<div class="row"  >
					<div class="col-md-6" style="padding-left: 10%; padding-right: 10%;">
						
							<h2 class="text-weight-700 Raleway text-white">The Solution</h2>
							<p class="text-white text-weight-400 no-margin-bottom" style="line-height:25px">
								We want to develop an armada of smarter search tools borrowing signal processing and machine learning techniques from industry. We also want to develop a cloud-based infrastructure to seamlessly handle computing demand and to deploy algorithms across large datastores.
							</p>
							<p>&nbsp;</p>
							<h6 class="text-weight-700 Raleway text-white">Modern Search Techniques
							</h6>
							<p class="text-white text-weight-400 no-margin-bottom" style="line-height:25px">
								In order to accomplish the ambitious goal of developing smarter search techniques, we're implementing machine learning algorithms to expand our search domain beyond narrowband doppler drifting search techniques. Machine learning approaches also promise increased potential to filter out human-generated interference signals using new techniques.
							</p>
							<p>&nbsp;</p>
							<h6 class="text-weight-700 Raleway text-white">BL@Scale

							</h6>
							<p class="text-white text-weight-400 no-margin-bottom" style="line-height:25px">
								This current platform is sitting on top of a bedrock of infrastructure built to facilitate, scale, and execute these modern search techniques by pushing it to the cloud. Using technologies like Google's GCP, Kubernetes, and other high performing computing resources, we are able to bring SETI searches to the next generation.
							</p>
							<p>
								To access this feature contact the UCBerkeleySETI group for more information.
							</p>
							
						
					</div>
				
					<div class="col-md-5"  style="
					padding-right: 10%;">
						<img src="../static/images/network.gif" style="opacity: 0.5;">
					</div>
				</div>
			</div>	
			<div class="backimg-PAPER" data-uk-scrollspy="cls:uk-animation-fade" id="research-project">
					<div class="row"   style="padding-top: 10%; padding-bottom: 10%;">
						<div class="col-md-6" style="
						padding-right: 10%;">
							
						</div>
				
						<div class="col-md-6" style="
						padding-left: 10%; padding-right: 10%;">
							<h2 class="text-weight-700 Raleway text-white">Research and Support </h2>
							<p class="text-white text-weight-400 no-margin-bottom" style="text-emphasis: right; line-height:25px">
								BL@Scale is built by a team at the UC Berkeley SETI Research Center. For more information, visit <a href="http://seti.berkley.edu"> our website</a> as well as our in-depth tutorials at <a href="https://github.com/UCBerkeleySETI/breakthrough/blob/master/GBT/README.md"> here.</a>


								
							</p>
							<p>&nbsp;</p>
							<p class="text-white text-weight-400 no-margin-bottom" style="text-emphasis: right; line-height:25px">
								The Berkeley SETI Research Center conducts experiments searching for electromagnetic signatures of intelligent extraterrestrial civilizations, spanning wavelengths from radio to visible light. We're the creators of the SETI@home volunteer computing software, that utilizes spare resources on volunteer computers to aid in processing data from radio telescopes.
							</p>
							<p>&nbsp;</p>
							<p class="text-white text-weight-400 no-margin-bottom" style="text-emphasis: right; line-height:25px">
								We're participating in the new Breakthrough Listen initiative to use the Green Bank, Parkes, and Automated Planet Finder telescopes to dramatically expand the search for cosmic company.
							</p>
							<p>&nbsp;</p>
							<a style="padding-left: 0;" href="http://seti.berkeley.edu/"> <img style="width: 50%;"src="../static/images/BSRClogo.png">
							</a>
							<a>&nbsp;</a>
							<a style="padding-left: 0;" href="http://seti.berkeley.edu/"> <img style="width: 40%;"src="../static/images/breakthrough-listen-dark-transparent-background.png">
							</a>
							<BR/>			
							<!-- <a class="btn btn-small btn-white border-radius-50 sm-display-table xs-no-margin-bottom" href="/images/SETI_CNNLSMT.pdf" download="Peter Ma's DeepSETI Paper" style="border-radius: 0%;"><i class="fa fa-download"></i> Download Paper</a>			 -->
						</div>
					</div>
				</div>		
				<div data-uk-scrollspy="cls:uk-animation-fade"  id="compute">					
						<div class="row" style="padding-top: 15%; padding-bottom: 20%;" >
							<div class="col-md-6" style="
							padding-left: 10%;padding-right: 10%;">
								
									<h2 class="text-weight-700 Raleway linear-wipe">BL Reservoir</h2>
									<p class="text-white text-weight-400 no-margin-bottom" style="line-height:25px">
										BL Reservoir is a repository of powerful tools we've developed in house to search through our data in new and different ways. We're currently experimenting with deep learning and unsupervised techniques to detect anomalies. This is accomplished with a high dimensional clustering of encoded features extracted from window snippets of the radio spectrogram.
								
									</p>
									<p>&nbsp;</p>
								
								
								
									<p class="text-white text-weight-400 no-margin-bottom">
										Another search method is the Energy Detection algorithm used to filter for signals of high statistical anomaly based on signal power.
									</p>
									<p>&nbsp;</p>
									<p class="text-white text-weight-400 no-margin-bottom">
										The goal is to develop a framework that can plug in any algorithm a researcher might write and execute it at scale!
									</p>
									
									
									<div style="padding-top: 10%;">
											<a class="btn btn-small btn-white border-radius-50 sm-display-table xs-no-margin-bottom"  href="{{ '../BL-Reservoir' }}" >Learn More</a>	
									</div>	
							</div>
						
							<div class="col-md-6"  style="
							padding-right: 0%;">
								<!-- <img src="images/python.png" style="height: 100px; opacity: 0.3;">	 -->
								<img src="../static/images/wave.gif">
							</div>
						</div>
					</div>	

		
		<!-- Footer Detailed 4 Colums -->
		<footer data-uk-scrollspy="cls:uk-animation-fade" id="foot">
		
			
				
			
			
			<!-- Row -->
			<div class="row bg-black padding-top-bottom-50px padding-left-right-twelve-percent">
				
				<!-- Column -->
				<div class="col-md-8 col-sm-12 col-xs-12">
				
					<!-- Text / Copyright -->
					<p class="no-margin-bottom text-small text-gray-light text-weight-400 sm-text-center sm-margin-bottom-20px">Copyright © 2020 of <a href="http://seti.berkeley.edu/" target="_blank" class="text-white">UC Berkeley SETI Research Center</a> All rights reserved. 
						<img src="../static/images/BSRClogo.png" style="width: 10%;">
					</p>
				
				</div>
			
			
			</div>
			<!-- End Row -->
			
		</footer>
		<!-- End Footer -->
		
		
		
		<!-- jQuery Library -->
		<script src="../static/js/jquery.min.js"></script>
		
		<!-- Uikit Framework -->
		<script src="../static/js/uikit.min.js"></script>
		
		<!-- Uikit Icons -->
		<script src="../static/js/uikit-icons.min.js"></script>
		
		<!-- Bootstrap Framework -->
		<script src="../static/js/bootstrap.min.js"></script>
		
		<!-- Modernizr -->
		<script src="../static/js/modernizr.js"></script>
		
		<!-- Easing -->
		<script src="../static/js/jquery.easing.1.3.js"></script>

		<!-- Font Awesome -->
		<script src="../static/js/font-awesome.min.js"></script>
		
		<!-- Pie Charts -->
		<script src="../static/js/jquery.easypiechart.min.js"></script>
		
		<!-- Contact Form Validation -->
		<script src="../static/js/contact.js"></script>
		
		<!-- Counter -->
		<script src="../static/js/jquery.countTo.js"></script>
		
		<!-- Counter Loader -->
		<script src="../static/js/jquery.appear.js"></script>
		
		<!-- Retina Ready -->
		<script src="../static/js/retina.min.js"></script>

		<!-- Custom Scripts -->
		<script src="../static/js/custom.js"></script>
	
	</body>

</html>