{% extends 'base.html' %}

{% block header %}
  <h1>Welcome to BL@Scale</h1>
{% endblock %}

{% block content %}
<h4>ZMQ TEST Received request STUFF</h4>
<!-- <a href="/logout">Log out</a> -->
<div class="container-fluid">

      <div class="row">
	        <div class="col-sm-12">
            <h1>
               Reading Python Object Casted To String From tcp://35.192.178.168:5000 
            </h1>
            <h1>
              {{ message_sub }}
              <script language="javascript">
                setInterval(function(){
                   window.location.reload(1);
                }, 10000);
                </script>
            </h1>
          </div>
  	  </div>
		  
  		<div class="row">
          {% for sample in sample_urls[key] %}
              <p>{{ sample }}</p>
          {%endfor%}
      </div>

</div>

{% endblock %}
