aiohttp==3.7.4.post0
alabaster==0.7.12
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
CacheControl==0.12.6
cachelib==0.1.1
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.7
cycler==0.10.0
decorator==5.0.7
docutils==0.16
firebase==3.0.1
firebase-admin==4.5.3
Flask==1.1.2
Flask-Session==0.3.2
Flask-WTF==0.14.3
fsspec==0.9.0
gcloud==0.18.3
gcsfs==0.8.0
gevent==21.1.2
google==3.0.0
google-api-core==1.26.3
google-api-python-client==2.2.0
google-auth==1.29.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-cloud-core==1.6.0
google-cloud-firestore==2.1.0
google-cloud-storage==1.37.1
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
greenlet==1.0.0
grpcio==1.37.0
gunicorn==19.7.1
httplib2==0.19.1
idna==2.6
idna-ssl==1.1.0
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==3.10.1
itsdangerous==1.1.0
Jinja2==2.11.3
jwcrypto==0.8
jws==0.1.3
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.4
msgpack==1.0.2
multidict==5.1.0
numpy==1.19.5
numpydoc==1.1.0
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3
pickleshare==0.7.5
Pillow==8.2.0
proto-plus==1.18.1
protobuf==3.15.8
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.10.1
Pygments==2.8.1
pygobject==3.26.1
PyJWT==2.0.1
pyparsing==2.4.7
Pyrebase==3.0.18
python-dateutil==2.8.1
python-dotenv==0.17.0
python-jwt==3.3.0
pytz==2021.1
pyxdg==0.26
pyzmq==22.0.3
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.7.2
scipy==1.5.4
seaborn==0.11.1
SecretStorage==2.3.1
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==3.5.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sseclient==0.0.27
typing-extensions==3.7.4.3
ujson==4.0.2
uritemplate==3.0.1
urllib3>=1.26.5
Werkzeug==1.0.1
WTForms==2.3.3
yarl==1.6.3
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
