Click
Flask
Flask-WTF
flask-session
firebase
gcloud
googleapis-common-protos
httplib2
itsdangerous
Jinja2
jws
MarkupSafe
oauth2client
protobuf
pyasn1
pyasn1-modules
pycryptodome>=3.4.3
Pyrebase
python-dotenv
python-jwt
redis
requests
requests-toolbelt
rsa
six>=1.15.0
Werkzeug
oauthlib
olefile
pandas
pandocfilters
pickleshare
requests-oauthlib
seaborn
cachetools
certifi
chardet
google
google-api-core
google-auth
google-cloud-core
google-auth-oauthlib
google-cloud-storage
google-resumable-media
gunicorn
gevent
idna
pytz
psutil
urllib3<1.25
imageio
imagesize
importlib-metadata
matplotlib
numpy
numpydoc
pyzmq
gcsfs
firebase-admin
